* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 15px;
}
main {
    background: linear-gradient(to right top, #6666ff, #9fafdf);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
button {
    border: none;
    border-radius: 7%;
    outline: none;
}
.container {
    margin: auto;
    min-height: 400px;
    width: 300px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    border-radius: 12px;
    background: white;
}
#calDisplay {
    text-align: center;
    padding: 15px;
    background: #DFDCD2;
    width: auto;
    height: 30%;
    margin: 12px;
    margin-bottom: 0px;
    outline: none;
    border: none;
    border-radius: 2px; 
}
#keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
    margin: 10px;
}
#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}
#equal {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}
.operator {
    background: #FFAD66;
}
.operator:hover {
    background-color: #FF7F11;
}
.value, #zero, #decimal {
    background: #DFDCD2;
}
.value:hover, #zero:hover, #decimal:hover {
    background-color: #BEB7A4;
}
#equal, #clear, #delete {
    background: #FF8C66;
}
#equal:hover, #clear:hover, #delete:hover {
    background-color: #FF3F00;
}
